<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="example.infrastructure.datasource.member.MemberMapper">

    <sql id="selectMember">
        SELECT
        members.id as "memberNumber.value",
        members.full_name as "fullName.value",
        members.mail_address as "mailAddress.value",
        members.phone_number as "phoneNumber.value",
        members.created_at as "createdAt.value",
        FROM example.members as members
        INNER JOIN example.member_settings as member_settings on (
        members.id = member_settings.member_id
        )
    </sql>

    <select id="selectByMemberNumber" resultType="example.domain.model.member.Member">
        <include refid="selectMember"/>
        WHERE members.id = #{memberNumber.value}
    </select>
</mapper>
